In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [10]:
customer_df = pd.read_csv("https://raw.githubusercontent.com/ironhack-labs/lab-cleaning-categorical-data/master/files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv")

In [11]:
customer_df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [45]:
#Separating numerical columns from categorical
numerical_df = customer_df.select_dtypes(include=['int64', 'float64'])
categorical_df = customer_df.select_dtypes(include=['object'])

In [47]:
#I'll dop the column Customer
customer_df.drop('Customer', axis=1, inplace=True)

KeyError: "['Customer'] not found in axis"

In [44]:
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,600,4,0,0,0,47,1,0,1,1,0,2,0,0,5,1
1,5946,0,0,1,0,24,4,0,1,2,1,5,2,0,0,1
2,96,2,0,2,0,41,1,0,1,1,1,5,0,0,5,1
3,8016,1,0,0,0,12,4,1,1,1,0,1,0,2,3,1
4,2488,4,0,0,0,52,1,1,0,2,1,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,3857,1,0,0,0,32,1,1,2,1,1,3,1,3,0,1
9130,5390,1,1,1,1,34,1,0,1,0,0,2,0,1,0,1
9131,6688,1,0,1,0,55,4,1,1,2,0,1,0,1,0,1
9132,7214,1,0,1,1,52,1,1,1,1,1,4,2,1,0,0
9133,8434,1,0,1,1,36,4,1,1,2,0,2,3,2,5,1

In [48]:
#Removing the outliers using Zscore
def remove_outliers_zscore(customer_df, numerical_df, threshold=3):
    z_scores = np.abs((numerical_df - numerical_df.mean()) / numerical_df.std())
    outliers = (z_scores > threshold).any(axis=1)
    return customer_df[~outliers]

cleaned_df = remove_outliers_zscore(customer_df, numerical_df)

In [49]:
#Checking the shape of the dataset without outliers
cleaned_df.shape

(8470, 23)

In [50]:
#Create a copy of the dataframe for the data wrangling.
cleaned_df_copy = cleaned_df.copy()

In [51]:
#Normalising continous variables using Min Max Scaler

In [52]:
numerical_data = cleaned_df_copy.select_dtypes(include=['int64', 'float64'])
categorical_data = cleaned_df_copy.select_dtypes(include=['object'])

scaler = MinMaxScaler()
numerical_data = scaler.fit_transform(numerical_data)

In [53]:
normalised_data = categorical_df.apply(lambda x: x.unique())

In [54]:
normalised_data

State                [Washington, Arizona, Nevada, California, Oregon]
Response                                                     [No, Yes]
Education            [Bachelor, College, Master, High School or Bel...
Effective To Date    [2/24/11, 1/31/11, 2/19/11, 1/20/11, 2/3/11, 1...
EmploymentStatus     [Employed, Unemployed, Medical Leave, Disabled...
Gender                                                          [F, M]
Location Code                                 [Suburban, Rural, Urban]
Marital Status                             [Married, Single, Divorced]
Policy Type              [Corporate Auto, Personal Auto, Special Auto]
Policy               [Corporate L3, Personal L3, Corporate L2, Pers...
Renew Offer Type                      [Offer1, Offer3, Offer2, Offer4]
Sales Channel                        [Agent, Call Center, Web, Branch]
Vehicle Class        [Two-Door Car, Four-Door Car, SUV, Luxury SUV,...
Vehicle Size                                   [Medsize, Small, Large]
dtype: object

In [55]:
#Encoding categorical variables using the Label encoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [56]:
categorical_df.columns

Index(['State', 'Response', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Location Code', 'Marital Status',
       'Policy Type', 'Policy', 'Renew Offer Type', 'Sales Channel',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [57]:
cleaned_df_copy['Coverage'] = le.fit_transform(cleaned_df_copy['Coverage'])
cleaned_df_copy['State'] = le.fit_transform(cleaned_df_copy['State'])
cleaned_df_copy['Response'] = le.fit_transform(cleaned_df_copy['Response'])
cleaned_df_copy['Education'] = le.fit_transform(cleaned_df_copy['Education'])
cleaned_df_copy['Effective To Date'] = le.fit_transform(cleaned_df_copy['Effective To Date'])
cleaned_df_copy['EmploymentStatus'] = le.fit_transform(cleaned_df_copy['EmploymentStatus'])
cleaned_df_copy['Gender'] = le.fit_transform(cleaned_df_copy['Gender'])
cleaned_df_copy['Location Code'] = le.fit_transform(cleaned_df_copy['Location Code'])
cleaned_df_copy['Marital Status'] = le.fit_transform(cleaned_df_copy['Marital Status'])
cleaned_df_copy['Policy Type'] = le.fit_transform(cleaned_df_copy['Policy Type'])
cleaned_df_copy['Policy'] = le.fit_transform(cleaned_df_copy['Policy'])
cleaned_df_copy['Renew Offer Type'] = le.fit_transform(cleaned_df_copy['Renew Offer Type'])
cleaned_df_copy['Sales Channel'] = le.fit_transform(cleaned_df_copy['Sales Channel'])
cleaned_df_copy['Vehicle Class'] = le.fit_transform(cleaned_df_copy['Vehicle Class'])
cleaned_df_copy['Vehicle Size'] = le.fit_transform(cleaned_df_copy['Vehicle Size'])

In [58]:
#Checking for numerical columns
categorical_df.dtypes

State                object
Response             object
Education            object
Effective To Date    object
EmploymentStatus     object
Gender               object
Location Code        object
Marital Status       object
Policy Type          object
Policy               object
Renew Offer Type     object
Sales Channel        object
Vehicle Class        object
Vehicle Size         object
dtype: object

In [59]:
#In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

In [60]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor

In [61]:
#Separating the target variable >> Total Claim Amount
X = cleaned_df_copy.drop(["Total Claim Amount"], axis=1)
y = cleaned_df_copy["Total Claim Amount"]

In [63]:
#Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train

,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,...,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
5034,1,2927.734329,0,0,0,37,1,1,51991,0,...,4,95,0,1,1,5,1,3,0,1
6692,3,4349.308750,1,0,1,32,1,0,75648,0,...,28,10,0,1,1,4,1,1,3,0
1245,1,6503.397049,1,1,3,41,0,0,22081,1,...,1,9,0,6,1,4,0,0,5,2
4140,1,5717.743109,0,0,0,15,1,1,68342,0,...,33,39,0,5,1,4,3,1,0,1
6867,3,3304.758268,0,1,1,51,3,0,23931,1,...,4,24,0,1,1,5,3,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6165,3,3359.290918,0,1,4,56,2,0,16891,1,...,15,54,0,1,1,5,3,2,0,1
5571,1,6237.507291,0,1,3,16,4,1,0,1,...,2,46,1,3,1,5,3,0,5,1
5797,4,2878.766728,0,0,0,16,1,0,79189,0,...,11,79,0,1,1,4,1,1,5,1
922,3,3792.130310,0,1,3,28,1,1,97212,2,...,28,61,0,1,1,3,1,2,5,1
7825,0,4854.362069,0,0,3,19,1,1,44279,1,...,32,7,0,3,1,3,1,0,5,2

In [64]:
#normalizing variables using standard scaler:
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [65]:
#Try a simple linear regression with all the data to see whether we are getting good results.

model = LinearRegression()
model.fit(X_train_scaled, y_train)
predictions = model.predict(X_test_scaled)

rmse = mean_squared_error(y_test, predictions, squared=False) 
mae = mean_absolute_error(y_test, predictions)
print("R2_score:", round(r2_score(y_test, predictions), 2)) 
print("RMSE:", rmse)
print("MAE:", mae)

R2_score: 0.53
RMSE: 160.44068131054755
MAE: 122.46988097218843

In [66]:
#Now define a function that takes a list of models and train (and tests) 
#them so we can try a lot of them without repeating code.

def model_train_test (models, X, y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    results = [] 
    for model in models:
        model.fit(X_train, y_train)
        pred = model.predict(X_test)
        r2 = round(r2_score(y_test, pred), 2)
        rmse = mean_squared_error(y_test, pred)
        result = {
            'model': model, 
            'R2_score': r2,
            'RMSE_score': rmse
        }
        results.append(result)
    return results

In [67]:
#Use the function to check LinearRegressor and KNeighborsRegressor.

model = LinearRegression()
knn = KNeighborsRegressor()
mlp = MLPRegressor(max_iter=500)

models = [model, knn, mlp] 

X = cleaned_df_copy.drop(["Total Claim Amount"], axis=1) 
y = cleaned_df_copy["Total Claim Amount"] 

model_train_test(models, X, y)

[{'model': LinearRegression(),
  'R2_score': 0.53,
  'RMSE_score': 25741.212219393903},
 {'model': KNeighborsRegressor(),
  'R2_score': 0.21,
  'RMSE_score': 43916.63012913243},
 {'model': MLPRegressor(max_iter=500),
  'R2_score': 0.45,
  'RMSE_score': 30479.802957845586}]

I get the highest score with Linear Regression >> 0.53.